registry=https://registry.npmmirror.com/

# 写到 project .npmrc 才能让 CI cache hit 时被 pnpm 识别为 reused
store-dir=.pnpm-store

engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false

fetch-retries=3
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=10000
fetch-timeout=60000
network-concurrency=32
